@model Domain.TaskEntry

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>TaskEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskLog)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskLog.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
