@model Domain.TaskLog

@{
    ViewData["Title"] = "Details";
}

        <h4>Task Log</h4>
        <hr />
        <section>
            <div class="box">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Task Type:
                                </th>
                                <th>
                                    Task Time:
                                </th>
                                <th>
                                    Comments:
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var taskEntry in Model.TaskEntries)
                            {
                            <tr>
                                <td>
                                    @taskEntry.TaskType
                                </td>
                                <td>
                                    @taskEntry.TaskTime
                                </td>
                                <td>
                                    @taskEntry.Comment
                                </td>
                            </tr> 
                             }
                                </tbody>
                        </table>
                    <dl class="dl-horizontal">
                        @*<dd>
                            @Html.DisplayFor(model => model.TaskEntries[0].Comment)
                        </dd>*@
                        <dt>
                            @Html.DisplayNameFor(model => model.LogDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LogDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Employee.FirstName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Employee.FirstName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Employee.LastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Employee.LastName)
                        </dd>
                        <dt>
                            Total Task Time:
                        </dt>
                        @*<dd>
                           @Html.GetTotalTaskTime()
                        </dd>*@
                    </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
    </div>
</section>