@model IEnumerable<Domain.TaskLog>

@{
    ViewData["Title"] = "Index";
}

<h4>Task Log</h4>
<hr />
<section>
    <div class="box">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Log Date
                    </th>
                    @*<th>
                        User Id
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LogDate)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ApplicationUserId)
                    </td>*@
                    @*<td>
                        @foreach (var entry in item.TaskEntries)
                        {
                          <tr>
                              <td>
                                  @entry.TaskTime
                              </td>
                          </tr>
                        }
                        <a asp-action="Create" asp-controller="TaskEntries" asp-route-id="@item.Id">Add Entry</a> |
                    </td>*@
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-area="" asp-controller="TaskEntries" asp-action="LogChartz">Log Chart</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>